---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead-simple.astro";
import Pricing from "@components/pricing.astro";
import Clients from "@components/clients.astro";

const pricing = [
  {
    name: "Organic Social Media Management",
    price: "$345/mth",
    popular: false,
    features: [
      "2x 15-min video-call brand sessions",
      "2x design revisions",
      "3x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Simple social conversion tracking",
    ],
    button: {
      text: "Purchase",
      link: "#",
    },
  },
  {
    name: "Social Revamp Package",
    price: 
      "$745",
    popular: true,
    features: [
      "3x 15-min video-call brand sessions",
      "4x design revisions",
      "6x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Custom social conversion tracking",
    ],
    button: {
      text: "Purchase",
      link: "#",
    },
  },
  {
    name: "Engagement Package",
    price: "$445",
    popular: false,
    features: [
      "4x 15-min video-call brand sessions",
      "6x design revisions",
      "12x web pages w/ 0.2 sec load time avg.",
      "2x in-person strategy sessions",
      "E-Commerce store extension on sub-domain built with either Velocity7 or Shopify",
      "Custom social conversion tracking",
    ],
    button: {
      text: "Purchase",
      link: "#",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Fair and Transparent Pricing</Fragment>
      <Fragment slot="desc"
        >Simple pricing & predictable results.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
    
  </Container>
</Layout>
