---
import Link from "./ui/link.astro";
---

<div
  style="background-color: #412502;" class=" px-4 md:px-16 lg:px-32 my-16 md:my-32 py-16 md:py-32 mx-4 md:mx-16 rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white font-bold text-3xl md:text-5xl tracking-tight">
    Let's chat.
  </h2>
  <p class="text-slate-400 px-4 lg:px-16 my-8 text-md md:text-lg">
    Ready to take your social media game to the next level? Don't hesitate, reach out to us via email to get started easily.
  </p>
  
  <div class="flex">
    <Link href="/contact" style="inverted">Contact</Link>
  </div>
</div>
