

<style>
  footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #412502;
}
</style>

<footer class="mt-20 py-10 lg:py-30" id="home_wave">
  <div class="grid grid-cols-2 md:grid-cols-4 px-4 lg:px-8">
    
    <div id="footerCard" class="mb-8">
      <div class="max-w-lg mx-auto">
        <h2 class="text-lg font-semibold text-white mb-4">Links</h2>
        <ul class="list-none">
          <li class="mb-2"><a href="https://thesocialdandelion.com" class="text-gray-200 hover:text-slate-500 transition duration-200">Home</a></li>
          <li class="mb-2"><a href="/about" class="text-gray-200 hover:text-slate-500 transition duration-200">About</a></li>
          <li class="mb-2"><a href="https://facebook.com/aidxn-design/" class="text-gray-200 hover:text-slate-200 transition duration-200">Facebook</a></li>
          <li class="mb-2"><a href="https://instagram.com/aidxn.design/" class="text-gray-200 hover:text-slate-200 transition duration-200">Instagram</a></li>
        </ul>
        </ul>
      </div>
    </div>
    
    <div id="footerCard" class="mb-8">
      <div class="max-w-lg mx-auto">
        <h2 class="text-lg font-semibold text-white mb-4">Services</h2>
        <ul class="list-none">
          <li class="mb-2"><a href="/services" class="text-gray-200 hover:text-slate-500 transition duration-200">Social Strategy</a></li>
          <li class="mb-2"><a href="/services" class="text-gray-200 hover:text-slate-500 transition duration-200">Content Creation</a></li>
          <li class="mb-2"><a href="/services" class="text-gray-200 hover:text-slate-500 transition duration-200">Copywriting</a></li>
          <li class="mb-2"><a href="/services" class="text-gray-200 hover:text-slate-500 transition duration-200">Profile Optimisation</a></li>
        </ul>
      </div>
    </div>
    
    <div id="footerCard" class="mb-8">
      <div class="max-w-lg mx-auto">
        <h2 class="text-lg font-semibold text-white mb-4">Management</h2>
        <ul class="list-none">
          <li class="mb-2"><a href="/services" class="text-gray-200 hover:text-slate-500 transition duration-200">Community Engagement</a></li>
          <li class="mb-2"><a href="/services" class="text-gray-200 hover:text-slate-500 transition duration-200">Audience Strategy</a></li>
          <li class="mb-2"><a href="/services" class="text-gray-200 hover:text-slate-500 transition duration-200">Hashtag Strategy</a></li>
          <li class="mb-2"><a href="/services" class="text-gray-200 hover:text-slate-500 transition duration-200">Theme & Layout</a></li>
        </ul>
        </ul>
      </div>
    </div>
  
    <div id="footerCard" class="mb-8">
      <div class="max-w-lg mx-auto">
        <h2 class="text-lg font-semibold text-white mb-4">Info</h2>
        <ul class="list-none">
	        <li class="mb-2"><a href="/products" class="text-gray-200 hover:text-slate-500 transition duration-200">Blog</a></li>
	        <li class="mb-2"><a href="/products" class="text-gray-200 hover:text-slate-500 transition duration-200">Terms of Service</a></li>
          <li class="mb-2"><a href="/products" class="text-gray-200 hover:text-slate-500 transition duration-200">Privacy Policy</a></li>
          <li class="mb-2"><a href="/products" class="text-gray-200 hover:text-slate-500 transition duration-200">Contact</a></li>
        </ul>
        </ul>
      </div>
    </div>

  </div>

  <div id="finalFooter" class="mt-8 mb-2 flex flex-col items-start">
	
	<p class="text-xl font-normal text-slate-300">
    Website powered by <a href="https://aidxn.com/velocity7" target="_blank" rel="noopener" class="font-semibold hover:text-slate-700 transition duration-200">Velocity7</a>.
  </p>
  <p class="text-xl font-normal text-slate-300">
    Design by <a href="https://aidxn.com" target="_blank" rel="noopener" class="font-bold hover:text-slate-700 transition duration-200">Aidxn</a>.
  </p>

	<p class="text-xs lg:text-sm text-gray-500">
    © {new Date().getFullYear()} The Social Dandelion. All rights reserved.
  </p>
	
  </div>

</footer>
