---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import Grid1 from '../assets/tsd/grid-1.webp';
import Grid2 from '../assets/tsd/grid-2.webp';
import Grid3 from '../assets/tsd/grid-3.webp';
import Grid4 from '../assets/tsd/grid-4.webp';
import Grid5 from '../assets/tsd/grid-5.webp';
import Grid6 from '../assets/tsd/grid-6.webp';

const sliderContent = [
  {
    icon: "ph:codesandbox-logo-thin",
    img: Grid1,
    category: "Social Media Revamp",
    title: "Oz Bin Cleaning.",
    paragraph:
      "Focused on promoting results on brand design for increased conversion.",
    btntxt: "Read more",
    style: "outline",
    link: "#",
  },
  {
    img: Grid2,
    icon: "ph:intersect-light",
    category: "Social Media Revamp",
    title: "Devine Disability Care.",
    paragraph:
      "Design focused around better brand awareness for increased engagement.",
    btntxt: "Read more",
    style: "outline",
    link: "#",
  },
  {
    icon: "ph:codesandbox-logo-thin",
    img: Grid3,
    category: "Social Media Revamp",
    title: "ADSA QLD.",
    paragraph:
      "Designed to show the level of care provided for increased competitiveness.",
    btntxt: "Read more",
    style: "outline",
    link: "#",
  },
  {
    icon: "ph:codesandbox-logo-thin",
    img: Grid4,
    category: "Social Media Revamp",
    title: "LetsPlanIt Events.",
    paragraph:
      "Design focused around promoting services and results for increased bookings.",
    btntxt: "Read more",
    style: "outline",
    link: "#",
  },
  {
    icon: "ph:codesandbox-logo-thin",
    img: Grid5,
    category: "Social Media Revamp",
    title: "Equest Collective.",
    paragraph:
      "Design focused on lifestyle of the sport and customer for increased engagement.",
    btntxt: "Read more",
    style: "outline",
    link: "#",
  },
  {
    icon: "ph:codesandbox-logo-thin",
    img: Grid6,
    category: "Social Media Revamp",
    title: "Serenity Hair & Co.",
    paragraph:
      "Design focused around promoting quality and results for increased conversion.",
    btntxt: "Read more",
    style: "outline",
    link: "#",
  },
]
---


<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- Flickity Custom Styles -->
<style>
  .product-carousel .flickity-viewport { padding: 60px 90px; min-height: 220px; display: flex; justify-content: center; align-items: center; width: 100% !important; }
  .carousel-cell { min-height: 220px; height: fit-content; width: 75%; margin: 40px 20px; padding: 10px 20px; }
  .flickity-button { max-width: 20px; }

  /* accessibility */
  .flickity-enabled:focus .flickity-viewport { outline: thin dotted; outline: 2px auto -webkit-focus-ring-color; }
  

  /* Glass-card effect dial in, needs a moving background css only if possible */
  #glass-card {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 40px 20px;
    margin-right: 20px;
    position: absolute;
    transition-duration: 200ms;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;;
  }
  
  [astro-icon="bgIcon"] {
        color: #a600ff10;
        /* OR */
        fill: #a600ff10;
  }
</style>


<main class="my-32 md:my-16">
<div id="heroSection" class="flex flex-col lg:flex-row justify-center items-center">
  
  <div id="leftContainer" class="w-full lg:w-3/5">

    <div class="py-6">
      <h2 style="heroTagline" class="text-3xl lg:text-4xl xl:text-6xl w-full font-bold tracking-tight">
        Professional layouts & management.
      </h2>
      <p class="text-sm lg:text-lg mt-6 pr-8 text-slate-700 w-full lg:max-w-3xl">
        Whether you just need a new layout design that is aligned with your brand design and customers engagement, or a full management service, we have you covered. 
      </p>
      
      <div class="mt-12 flex flex-col sm:flex-row gap-3">
        <a href="/contact" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
          <svg viewBox="0 0 24 24" class="w-4 h-4">
            <Icon class="text-white" name="ph:chat-teardrop-dots-light" />
          </svg>

          Book a call

        </a>
        <a href="/services" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center">
          <svg viewBox="0 0 24 24" class="w-4 h-4">
            <Icon class="text-black" name="ph:grid-four-light" />
          </svg>
          
          Services

        </a>
      </div>
    </div>
  </div>

  <div id="rightContainer" class="w-full lg:w-2/5 px-4 md:px-8 -z-10">

    <!-- START flickity slider for Case Studies -->
    <div class="grid-carousel w-full h-full">
      { sliderContent.map((item) => (    
        <div id="glass-card" class="carousel-cell w-full">
          <div id="slideContainer" class="flex flex-col-reverse items-center justify-center gap-y-4">
            <div id="textContainer" class="w-full flex flex-col gap-y-4">
                    <span class="text-gray-700 mr-3 font-thin uppercase text-md">{item.category}</span>
                    <h3 class="font-semibold text-lg md:text-xl lg:text-2xl">{item.title}</h3>{" "}
                    <p class="text-xs lg:sm max-w-3xl font-regular text-slate-500 pr-8 leading-relaxed">{item.paragraph}</p>
                  </div>
            <div id="imgContainer" class="w-full z-10">
              <Picture
                  src={item.img}
                  sizes="(max-width: 1200px) 100vw, 800px"
                  widths={[800, 1200]}
                  aspectRatio="1:1"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl min-h-1/2"
                />  
            </div>
          </div>
        </div>
        ))
      }
    </div>
    <!-- END flickity slider for Case Studies -->

  </div>
</div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js"></script>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.grid-carousel', {
  contain: true,
  cellAlign: 'center',
  autoPlay: 2400,
  imagesLoaded: true,
  adaptiveHeight: true,
  });
</script>
