---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Pagecover from '../assets/tsd/bianca-table-sqr.webp';
import { Picture } from "@astrojs/image/components";
---

<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<style>
.glassCard {     
    background: rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,.1);
    box-shadow: 0 0 80px #0003;
    overflow: hidden;
    border-radius: 25px;
    padding: 45px 15px;
    margin: 45px 15px; 
    min-height:350px;
}

.circImg { border-radius: 50%; }

</style>

<main class="my-8 md:my-16">
  <div id="heroSection" class="flex flex-col-reverse md:flex-row items-center mb-8">
    
    <div class="circTextContainer w-full md:w-3/5 my-8">

      <div>
        <h1 style="heroTagline" class="text-3xl lg:text-4xl xl:text-6xl w-full pt-4 md:pt-8 pr-8 lg:pr-16 font-bold tracking-tighter">
          Thrive organically on instagram, management with $0 in ad spend.
        </h1>
        <p class="text-sm lg:text-lg mt-6 text-slate-700 w-full lg:max-w-3xl">
          Organic focused strategies and products managed from Bellingen, NSW.
          <wbr>
        </p>
        <div class="mt-12 flex flex-col sm:flex-row gap-3">
          <a href="/contact" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="w-4 h-4">
              <Icon class="text-white" name="ph:planet-light" />
            </svg>

            Contact

          </a>
          <a href="/products" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="w-4 h-4">
              <Icon class="text-black" name="ph:codepen-logo-light" />
            </svg>
            
            Products

          </a>
        </div>
      </div>
    </div>
    <div class="circImgContainer w-full md:w-2/5 -z-10">
      
      <Picture
                src={Pagecover}
                sizes="(max-width: 2000px) 100vw, 1000px"
                widths={[1000, 2000]}
                aspectRatio="1:1"
                background="#f2f2f2"
                fit="cover"
                position="center"
                class="circImg w-full transition group-hover:-translate-y-1 group-hover:shadow-xl "
              />
      
    </div>
  </div>
</main>
